{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	This is the new Index page!
{% endblock %}

{% block body_block %}
	{% if categories %}
		<h1>Most liked categories</h1>
		<ul>
			{% for category in categories %}
				<li>
					<a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
	
	{% if pages %}
		<h1>Most viewed pages</h1>
		<ul>
		{% for page in pages %}
			<li><a href="{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<strong>No pages currently in category.</strong>
	{% endif %}
	
	<img src="{% static "images/cat.jpg" %}" alt="Picture of Rango" />

{% endblock %}